/*====== GLOBAL STYLES ======*/
:is(body) :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
  letter-spacing: -1px;
}
body .title-wrapper .title {
  max-width: 650px;
}
body .title-wrapper .title.h0 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 0.8rem;
}
body .title-wrapper .collection__description.body {
  font-size: 24px;
  line-height: 32px;
}
body .title-wrapper .collection__description {
  color: #53524F;
  letter-spacing: 0;
  max-width: 700px;
}
body .title-wrapper {
  margin-bottom: 4rem;
}
/*====== GLOBAL STYLES END ======*/

/*====== SECTION STYLES ======*/

/* HERO BANNER */
.banner .banner__content .banner__text {
    font-size: 35px;
    line-height: 44px;
    color: #fff;
    font-weight: 400;
}
.banner .banner__content .banner__heading {
  font-weight: bold;
}
.banner .banner__content .banner__buttons a {
  border-radius: 8px;
  padding: 16px 35px;
  font-size: 20px;
  font-weight: 500;
  transition: all ease .3s;

  &::after, &::before {
    display: none;
  }
  &:hover {
    background-color: #18717A;
  }
}
.banner .banner__content .banner__buttons {
  margin-top: 3rem;
}
/* HERO BANNER END*/

/* RICHTEXT IMAGE SECTION */
.rich-text.content-container .rich-text__heading {
  font-weight: bold;
}
.rich-text.content-container .rich-text__text {
  margin-top: 5rem;
  font-size: 30px;
  line-height: 38px;
  color: #131313;
}
.rich-text.content-container .rich-text__buttons {
  margin-top: 5.5rem;

  a.button.button--secondary {
    background: transparent;
    border: solid 2px #131313;
    border-radius: 8px;
    min-width: auto;
    font-size: 16px;
    line-height: 1.6;
    min-height: auto;
    padding: 10px 22px;
    gap: 1.2rem;
    font-weight: 500;
    color: #131313;
    transition: all ease .3s;

    &::after, &::before {
      display: none;
    }
    svg {
      width: 1.8rem;
    }
    &:hover {
      background-color: #ffffff36;
    }
  }
}
.rich-text.content-container .image_wrap {
  display: flex;

  img {
    width: 100%;
    height: auto;
  }
}
/* RICHTEXT IMAGE SECTION END */

/* COLLECTION LIST SECTION */
.collection-list-wrapper ul.collection-list {
  gap: 3.5rem;
  justify-content: space-between;

  .collection-list__item {
    width: 100%;
    max-width: calc(33.33% - 2.4rem);

    .card-wrapper  .card__inner {
      border-radius: 50px;
      overflow: hidden;
    }
    .card-wrapper .card__content {
      text-align: center;

      .card__heading {
        font-size: 30px;
        line-height: 38px;

        .icon-wrap {
          display: none;
        }
      }
    }
  }
}
/* COLLECTION LIST SECTION END */


/* SD PRODUCTS GRID SECTION */
.sd-products-grid .products_wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3.4rem;
}
.product_item .prod_card {
  position: relative;
  overflow: hidden;
  border-radius: 60px;
  display: flex;
}
.prod_card .prod_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prod_card .prod_info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 3rem;
  background: #00000078;
  color: #fff;
  width: 100%;
  height: 100%;
  transition: all ease .4s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product_item:hover .prod_card .prod_info {
  opacity: 1;
}
.prod_card .prod_info .prod_desc {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 2.5rem;

  p {
    margin: 0;
  }
}
.prod_card .prod_info .prod_price {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 2.5rem;
}
.prod_card .prod_info form {
  display: flex;
  justify-content: center;
}
.prod_card .prod_info button.add-to-cart-button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  padding: 10px 29px;
  font-size: 15px;
  line-height: 1;
  cursor: pointer;
  transition: all ease .4s;

  &:hover {
    background: #edeae1b4;
  }
}
.product_item a {
  text-decoration: none;
}
.product_item .prod_title {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #131313;
  text-decoration: none;
  margin-top: 2.6rem;
  font-weight: 500;
  letter-spacing: 0;
}
body .collection__title.title-wrapper {
  margin-bottom: 7rem;
}
/* SD PRODUCTS GRID SECTION END */


/* SD INFO BOXES SECTION */
.infoboxes_wrapper {
  display: flex;
  justify-content: center;
}
.infobox_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 50px;
  text-align: center;
  gap: 15px;
}
.infobox_item .infobox_title {
  font-size: 16px;
  line-height: 1.7;
  color: #E9F5F6;
}
.infobox_item:not(:last-child) {
  border-right: 1px solid #fff;
}
/* SD INFO BOXES SECTION END */


/* VIDEO SECTION */
.video-section deferred-media .video-section__poster, .video-section deferred-media video {
  border-radius: 50px;
}
.video-section deferred-media video {
  object-fit: cover;
}
.top_wrapper {
  display: flex;
}
.top_wrapper .title-wrapper {
  flex-basis: 80%;
}
.top_wrapper .button-wrapper {
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4rem;
  align-items: center;
}
.button-wrapper .btn {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  text-decoration: none;
  color: #181818;
  gap: 15px;
  display: flex;
  width: fit-content;
  height: fit-content;
  border: solid 2px #181818;
  border-radius: 8px;
  padding: 10px 22px;
  transition: all ease .4s;

  &:hover {
    background-color: #ffffff36;
  }
}
/* VIDEO SECTION END*/


/* FEATURED COLLECTION SECTION */
.collection slider-component.page-width.slider-component-desktop,
.video-carousel_section .page-width {
  max-width: calc(var(--page-width) + 100px);
  padding: 0 70px;
}
.featured-collection ul.product-grid li:first-child {
  margin: 0;
}
.featured-collection ul.product-grid {
  gap: 3.4rem;
  scroll-padding-left: auto;
}
.featured-collection ul.product-grid.grid--3-col-desktop li.grid__item {
  width: 100%;
  max-width: 31.6%;
}
.featured-collection .slider-buttons .slider-counter {
  display: none;
}
.featured-collection .slider-buttons {
  position: absolute;
  top: 30%;
  width: 100%;
  justify-content: space-between;
  left: 0;

  button.slider-button {
    background: #131313;
    color: #fff;
    border-radius: 100%;

    .svg-wrapper svg.icon {
      height: 2.6rem;
      opacity: 1;
      color: #fff;
      cursor: inherit;
    }
  }
  button.slider-button[disabled="disabled"] {
    opacity: 0.6;
    cursor: not-allowed;
  }
  button.slider-button--prev, 
  button.slider-button--next {
    transform: rotate(90deg);
  }
}
/* FEATURED COLLECTION SECTION END */

/* VIDEO CAROUSEL SECTION */
.video-carousel {
  overflow: hidden;
}
.video-carousel .video-wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 150%;
}
.video-wrapper .video_slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-carousel .video-slide.swiper-slide {
  overflow: hidden;
  border-radius: 50px;
}
.swiper-button-next, .swiper-button-prev {
display: flex !important;
}
.swiper-button-next::after, 
.swiper-button-prev::after {
  color: #000 !important;
}
.swiper-initialized .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000;
}
.video-carousel_section .main-heading {
  padding-bottom: 60px;
  text-align: center;
  max-width: 600px;
  margin: auto;
  
  * {
    margin: 0;
    color: #53524F;
    font-size: 36px;
    line-height: 44px;
  }
}
.swiper-nav {
  display: flex;
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 100%;
  justify-content: space-between;
}
.swiper-nav .btn {
  width: 50px;
  height: 50px;
  z-index: 1;
  display: block;
  border-radius: 100%;
  background: #131313 url(//cdn.shopify.com/s/files/1/0905/2799/0055/files/arrow-forward-outline.svg) no-repeat;
  background-size: 24px;
  background-position: center;
  cursor: pointer;
}
.swiper-nav .btn.button-next {
  transform: scale(-1);
}
.video-carousel_section .swiper-pagination {
  bottom: 0;
  position: relative;
  padding-top: 1rem;

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #131313;
  }
}
/* VIDEO CAROUSEL SECTION END */


/* SD GALLERY SECTION */
.gallery_inner {
  display: flex;
  border-radius: 50px;
  overflow: hidden;
}
.gallery_inner .gallery_info {
  flex-basis: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7rem;

  .button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 7rem;
  }
  .collection__description {
    margin-top: 2.5rem;
  }
}
.gallery_inner .gallery_wrapper {
  flex-basis: 60%;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;

  .gallery-item {
    width: 100%;
    max-width: calc(50% - 1.5rem);
    position: relative;
    padding-top: 44.5%;

    .gallery_image {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      object-position: center;
    }
  }
}
/* SD GALLERY SECTION END */


/*====== SECTION STYLES EMD ======*/


/*====== PRODUCT CARD STYLES ======*/
.card-wrapper.product-card-wrapper .card__inner {
  border-radius: 50px;
  overflow: hidden;
}
.card-wrapper.product-card-wrapper .card__information .card__heading {
  font-size: 28px;
  line-height: 36px;
}
.card-wrapper.product-card-wrapper .card__content .card__information {
  padding-left: 15px;
  padding-right: 15px;
}
.card-wrapper.product-card-wrapper .card__information .prod_desc {
  font-size: 20px;
  line-height: 32px;
  color: #53524F;
  margin: 0.5rem 0 1rem;

  letter-spacing: 0;

  p {
    margin: 0;
  }
}
.card-wrapper.product-card-wrapper .card__information .price__container {
  font-size: 28px;
  line-height: 36px;
  font-weight: bold;
}
/*====== PRODUCT CARD STYLES EMD ======*/



@media only screen and (min-width: 1200px) {
  .rich-text.content-container .rich-text__blocks {
    max-width: 100%;
  }
}
@media only screen and (min-width: 750px) {
  body .page-width,
  body .header:not(.drawer-menu).page-width {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}