/*====== GLOBAL STYLES ======*/
/*====== GLOBAL STYLES END ======*/

/*====== SECTION STYLES ======*/

/* HERO BANNER */
.banner .banner__content .banner__text {
  font-size: 36px;
  line-height: 44px;
  color: #EBEBEB;
}
.banner .banner__content .banner__heading {
  letter-spacing: -1px;
}
/* HERO BANNER END*/

/*====== SECTION STYLES EMD ======*/
