/*====== GLOBAL STYLES ======*/
:is(body) :is(h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6) {
  letter-spacing: -1px;
}
/*====== GLOBAL STYLES END ======*/

/*====== SECTION STYLES ======*/

/* HERO BANNER */
.banner .banner__content .banner__text {
  font-size: 36px;
  line-height: 44px;
  color: #EBEBEB;
}
.banner .banner__content .banner__heading {
  font-weight: bold;
}
.banner .banner__content .banner__buttons a {
  border-radius: 8px;
  padding: 16px 35px;
  font-size: 20px;
  font-weight: 500;
  transition: all ease .3s;

  &::after, &::before {
    display: none;
  }
  &:hover {
    background-color: #18717A;
  }
}
.banner .banner__content .banner__buttons {
  margin-top: 3rem;
}
/* HERO BANNER END*/

/* RICHTEXT IMAGE SECTION */
.rich-text.content-container .rich-text__heading {
  font-weight: bold;
}
.rich-text.content-container .rich-text__text {
  margin-top: 5rem;
  font-size: 30px;
  line-height: 38px;
  color: #131313;
}
.rich-text.content-container .rich-text__buttons {
  margin-top: 5.5rem;

  a.button.button--secondary {
    background: transparent;
    border: solid 2px #131313;
    border-radius: 8px;
    min-width: auto;
    font-size: 16px;
    line-height: 1.6;
    min-height: auto;
    padding: 10px 22px;
    gap: 1.2rem;
    font-weight: 500;
    color: #131313;
    transition: all ease .3s;

    &::after, &::before {
      display: none;
    }
    svg {
      width: 1.8rem;
    }
    &:hover {
      background-color: #EDEAE1;
    }
  }
}
.rich-text.content-container .image_wrap {
  display: flex;

  img {
    width: 100%;
    height: auto;
  }
}
/* RICHTEXT IMAGE SECTION END */

/* COLLECTION LIST SECTION */
.collection-list-wrapper ul.collection-list {
  gap: 3.5rem;
  justify-content: space-between;

  .collection-list__item {
    width: 100%;
    max-width: calc(33.33% - 2.4rem);

    .card-wrapper  .card__inner {
      border-radius: 50px;
      overflow: hidden;
    }
    .card-wrapper .card__content {
      text-align: center;

      .card__heading {
        font-size: 30px;
        line-height: 38px;

        .icon-wrap {
          display: none;
        }
      }
    }
  }
}
/* COLLECTION LIST SECTION END */


/* SD PRODUCTS GRID SECTION */
.sd-products-grid .products_wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3.4rem;
}
.product_item .prod_card {
  position: relative;
  overflow: hidden;
  border-radius: 60px;
  display: flex;
}
.prod_card .prod_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.prod_card .prod_info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 3rem;
  background: #00000078;
  color: #fff;
  width: 100%;
  height: 100%;
  transition: all ease .4s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product_item:hover .prod_card .prod_info {
  opacity: 1;
}
.prod_card .prod_info .prod_desc {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 2.5rem;

  p {
    margin: 0;
  }
}
.prod_card .prod_info .prod_price {
  font-size: 26px;
  line-height: 1;
  margin-bottom: 2.5rem;
}
.prod_card .prod_info form {
  display: flex;
  justify-content: center;
}
.prod_card .prod_info button.add-to-cart-button {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 8px;
  color: #fff;
  padding: 10px 29px;
  font-size: 15px;
  line-height: 1;
  cursor: pointer;
  transition: all ease .4s;

  &:hover {
    background: #ffffff36;
  }
}
.product_item a {
  text-decoration: none;
}
.product_item .prod_title {
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #131313;
  text-decoration: none;
  margin-top: 2.6rem;
  font-weight: 500;
  letter-spacing: 0;
}
/* SD PRODUCTS GRID SECTION END */


/*====== SECTION STYLES EMD ======*/



@media only screen and (min-width: 1200px) {
  .rich-text.content-container .rich-text__blocks {
    max-width: 100%;
  }
}